@import "tailwindcss";

@font-face {
  font-family: "Poppins";
  src: url("./assets/font/Poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Poppins", sans-serif !important;
}
a.active {
  color: #00aeff;
  text-decoration: underline;
  text-decoration-thickness: 2px;  
  text-underline-offset: 4px;       
  text-decoration-color: #00aeff;
}

